.trustedBy {
  background-color: #fafafa;
  min-height: 100px;
  display: flex;
  justify-content: center;

  .container {
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(200, 200, 200);
    font-weight: 500;

    img{
      height: 50px;
      object-fit: contain;
    }
  }
}
