.footer {
  display: flex;
  justify-content: center;
  color: #666;
  margin: 50px 0px;
  padding-left: 40px;
  padding-right: 40px;

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 100%;
    .top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;
      .item {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: #555;
        }
        gap: 20px;
        h2 {
          font-size: 16px;
          color: #555;
        }
        span {
          font-weight: 300;
        }
      }
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #ebe9e9;
    }
    .bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      
      .left {
        width: max-content;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: 20px;

        a {
          color: #666666;
        }
        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }
      .right {
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;
        }
        a {
          color: #666666;
        }
        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
